.comment{
    border-top: 1.5px solid rgb(201, 190, 190);
    padding: 20px 20px;


}

.chat-icon{
    width:40px;
    margin-right: 26px;
}
button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
   
}

.user1-icon{
    width:35px;
    margin-right: 10px;
}
.comment-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.comment-body{
    padding: 30px 0px;

}
.user-name{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
}

