
.main-container{
    border: 1px solid rgb(197, 199, 199);
    border-radius: 5px;
    box-shadow: 0 6px 20px 0 hsl(236, 72%, 79%);
    border-bottom: none;
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    
    
}
.post-container,.user-container,.comment-container{
   
    padding: 30px 70px;
    border-bottom: 1px solid rgb(197, 199, 199)
   
}

.comment-container{
   
  background-color: rgb(217, 232, 236);
  
}
.user-container{
    background-color: rgb(217, 232, 236);
}
.post-container{
    padding-bottom: 50px;
}

h2{
    color:rgb(101, 101, 139);
}
@media(max-width:768px){
    .main-container{
        width: 90%;
       

    }
    h2{
        font-size: 18px;
    }
    .post-container,.user-container,.comment-container{
   
        padding: 30px 10px;
        border-bottom: 1px solid rgb(197, 199, 199)
       
    }
}