.user-icon{
    width: 40px;
    margin-right: 30px;
}
.user-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.padding-bottom-6{
    padding-bottom: 6px;
    font-weight: bold;
}

